@using EntityLayer.Concrete;
@model List<Personel>



<div class="container mt-2">



    <h2>Ekle</h2>
    



    <form action="#" method="post" class="form-group">
        <div class="mb-3 mt-3">
            <label for="text" class="form-label">Name:</label>
            <input type="text" class="form-control m-2" id="Name" placeholder="Name" name="Name" required="">
        </div>
        <div class="mb-3">
            <label for="text" class="form-label">LastName:</label>
            <input type="text" class="form-control m-2" id="LastName" placeholder="LastName" name="LastName" required="">
        </div>
       
        <button type="submit" class="btn btn-primary">Ekle</button>
    </form>



</div>